/* ============== CSS VARIABLES =============== */
:root {
    --green-color: #8add8a;
    --white-color: #fff;
    --black-color: #000;
    --blue-color: #4169e1;
}
/* ============= GLOBAL CSS PROPERTIES ============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    width: 100%;
    height: 100vh;
    padding: 0 15%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.content {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.content .slides {
    width: 100%;
    height: 100vh;
    padding: 0 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    scroll-snap-align: start;
}

/* ============= HEADER CSS PROPERTIES ============ */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    scroll-snap-align: start;
}
.header .logo {
    font-size: 40px;
    padding: 5px 10px;
    border-radius: 15px;
    color: #fff;
    background: linear-gradient(454deg, var(--green-color), var(--blue-color));
}
.logo span {
    letter-spacing: 1px;
    text-transform: uppercase;
}
.header nav ul li {
    display: inline-flex;
    margin: 0 15px;
}
.header nav ul li a {
    color: #000;
}
.presentation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20%;
}
.presentation h1 {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px;
}
.presentation p {
    text-align: center;
    font-size: 18px;
    color: #777;
    margin-bottom: 10px;
}
.presentation a {
    text-align: center;
    font-size: 18px;
    background: transparent;
    color: var(--green-color);
    border: 1px solid var(--green-color);
    padding: 10px 30px;
    border-radius: 30px;
    transition: all 0.5s ease;
}
.presentation a:hover {
    background: var(--green-color);
    color: var(--white-color);
}

/* ============= INDEX PAGE CONTENT SECTION CSS PROPERTIES ============== */
.content .slides .elements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    width: 100%;
}
.content .slides h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.content .slides h1 {
    color: var(--white-color);
    font-size: 40px;
}
.slide1 {
    background: linear-gradient(454deg, #404c80, #52ff88)
}
.slide2 {
    background: linear-gradient(454deg, #4f4080, #9553ff)
}
.slide3 {
    background: linear-gradient(454deg, #9594ff, #ff5352);
}

.content .slide1 .elements .card {
    width: 100%;
    margin: 25px 0;
}
.content .slide1 .elements .card .title{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: var(--white-color);
}
.content .slide1 .elements .card .skill-bar{
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
}
.content .slide1 .elements .card .skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: #4070f4;
    animation: progress 0.4s ease-in-out forwards;
}
.content .slide1 .elements .card .skill-bar .skill-per .tooltip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border: 3px;
    background: #4070f4;
    z-index: 1;
}
.content .slide1 .elements .card .skill-bar .tooltip::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #4070f4;
    transform: translateX(-50%) rotate(45deg);
}
.content .slide1 .elements .card .skill-bar .skill-per.SA{
    width: 70%;
    animation-delay: 0.1s;
}
.content .slide1 .elements .card .skill-bar .skill-per.NGR{
    width: 50%;
    animation-delay: 0.2s;
}
.content .slide1 .elements .card .skill-bar .skill-per.EGT{
    width: 30%;
    animation-delay: 0.3s;
}

@keyframes progress {
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* ============= DOWNLOAD PAGE CSS PROPERTIES ============== */
